<%- include("partials/header"); -%>

    <section>

        <h1>Create Post</h1>
        <hr>

        <form id="createPostForm" action="/blog/createpost" method="POST">

            <div class="formGroup">
                <label for="postTitle">Post Title</label>
                <input type="text" id="postTitle" name="postTitle" placeholder="Post Title">
            </div>
            <div class="formGroup">
                <label for="postContent">Post Content</label>
                <textarea name="postContent" id="postContent" placeholder="Enter your post..."></textarea>
            </div>
            <div class="formAction">
                <button type="submit">Create post</button>
            </div>
        </form>

    </section>

    <%- include("partials/footer"); -%>