<%- include("partials/header"); -%>

    <section>
        <h1>Welcome!</h1>
        <hr>
        <p>Lacus vel facilisis volutpat est velit egestas dui id ornare. Semper auctor neque vitae tempus quam. Sit amet
            cursus sit amet dictum sit amet justo. Viverra tellus in hac habitasse. Imperdiet proin fermentum leo vel
            orci porta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat
            pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies.
            Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. Ultrices vitae auctor eu augue ut lectus
            arcu bibendum at. Odio euismod lacinia at quis risus sed vulputate odio ut. Cursus mattis molestie a iaculis
            at erat pellentesque adipiscing.</p>

        <hr class="dotted">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi
            lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor.
                Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut
                aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis
                imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
                eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
            <button type="button" id="moreBtn">Read More</button>
        </p>
    </section>

    <%- include("partials/footer"); -%>