<%- include("partials/header"); -%>

    <section>
        <h1>About Us</h1>
        <hr>
        <p>Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Dictumst vestibulum rhoncus est
            pellentesque elit ullamcorper. Non diam phasellus vestibulum lorem sed. Platea dictumst quisque sagittis
            purus sit. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Mauris in aliquam sem
            fringilla. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Amet massa vitae tortor
            condimentum lacinia quis vel eros. Enim ut tellus elementum sagittis vitae. Mauris ultrices eros in cursus
            turpis massa tincidunt dui.</p>

        <hr class="dotted">

        <h2>FAQ</h2>
        <hr>

        <!-- Accordion -->
        <div id="accordion">

            <h3>Question #1</h3>
            <div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac felis sit amet orci dapibus
                    posuere. Aenean nec ornare neque. Mauris maximus felis at bibendum lacinia. Integer placerat, tellus
                    hendrerit molestie scelerisque, odio ligula vestibulum eros, sed sagittis turpis quam in sapien.
                    Praesent maximus cursus ante, vitae finibus justo molestie vitae. Pellentesque dapibus ultricies
                    sem, id malesuada sem. Nunc eget dolor arcu. Aenean quis turpis tempor, congue lacus eu, tristique
                    tortor.</p>

            </div>

            <h3>Question #2</h3>
            <div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac felis sit amet orci dapibus
                    posuere. Aenean nec ornare neque. Mauris maximus felis at bibendum lacinia. Integer placerat, tellus
                    hendrerit molestie scelerisque, odio ligula vestibulum eros, sed sagittis turpis quam in sapien.
                    Praesent maximus cursus ante, vitae finibus justo molestie vitae. Pellentesque dapibus ultricies
                    sem, id malesuada sem. Nunc eget dolor arcu. Aenean quis turpis tempor, congue lacus eu, tristique
                    tortor.</p>

            </div>

            <h3>Question #3</h3>
            <div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac felis sit amet orci dapibus
                    posuere. Aenean nec ornare neque. Mauris maximus felis at bibendum lacinia. Integer placerat, tellus
                    hendrerit molestie scelerisque, odio ligula vestibulum eros, sed sagittis turpis quam in sapien.
                    Praesent maximus cursus ante, vitae finibus justo molestie vitae. Pellentesque dapibus ultricies
                    sem, id malesuada sem. Nunc eget dolor arcu. Aenean quis turpis tempor, congue lacus eu, tristique
                    tortor.</p>

            </div>

            <h3>Question #4</h3>
            <div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac felis sit amet orci dapibus
                    posuere. Aenean nec ornare neque. Mauris maximus felis at bibendum lacinia. Integer placerat, tellus
                    hendrerit molestie scelerisque, odio ligula vestibulum eros, sed sagittis turpis quam in sapien.
                    Praesent maximus cursus ante, vitae finibus justo molestie vitae. Pellentesque dapibus ultricies
                    sem, id malesuada sem. Nunc eget dolor arcu. Aenean quis turpis tempor, congue lacus eu, tristique
                    tortor.</p>

            </div>

            <h3>Question #5</h3>
            <div>

                <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor
                    at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus
                    non quam. In suscipit faucibus urna.</p>

            </div>

            <h3>Question #6</h3>
            <div>

                <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Aenean lacinia mauris vel est.</p>

                <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            </div>
    </section>

    <%- include("partials/footer"); -%>