<%- include("partials/header"); -%>

    <section>

        <h1>
            <%= postTitle %>
        </h1>

        <p>
            <%= postContent %>
        </p>

    </section>

    <%- include("partials/footer"); -%>