<%- include("partials/header"); -%>

    <main id="oops">

        <section id="oopsSection">
            <h2>Please <a href="/auth">Login or Register</a> to create a post</h2>
        </section>

    </main>

    <%- include("partials/footer"); -%>